// Configuration variables
$spacing-scale: (
    '0': 0,
    'xs': 0.25rem,
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 2rem,
    'xl': 4rem,
    '2xl': 8rem,
    'auto': auto,
) !default;

$sizing-scale: (
    '0': 0,
    '25': 25%,
    '50': 50%,
    '75': 75%,
    '100': 100%,
    'auto': auto,
    'full': 100%,
) !default;

$directions: (
    '': 'all',
    't': 'top',
    'r': 'right',
    'b': 'bottom',
    'l': 'left',
    'x': (
        'left',
        'right',
    ),
    'y': (
        'top',
        'bottom',
    ),
    'block': (
        'block-start',
        'block-end',
    ),
    'inline': (
        'inline-start',
        'inline-end',
    ),
) !default;

$spacing_properties: (
    'm': 'margin',
    'p': 'padding',
) !default;

$sizing_properties: (
    'w': 'width',
    'h': 'height',
    'min-w': 'min-width',
    'min-h': 'min-height',
    'max-w': 'max-width',
    'max-h': 'max-height',
) !default;

$flex_direction: (
    'row': 'row',
    'row-r': 'row-reverse',
    'col': 'column',
    'col-r': 'column-reverse',
) !default;

$flex_wrap: (
    'wrap': 'wrap',
    'wrap-r': 'wrap-reverse',
    'nowrap': 'nowrap',
) !default;

$breakpoints: (
    '': '',
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1536px,
) !default;
